
.col-12{
    text-align: center;
}
.contLinearGraph{
    width: 1250px;
    height: 800px;
    /*border: 1px solid black;*/
    margin-top: 10px;
    background-color:#DCDCDC;
}

.tooltip hr {
    margin-top: 2px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eee;
    border-style: dotted;
}


.fragment{
    padding-left: 10px;
}
.fragmentInfo {
    display: inline-flex;
    width : 1250px;
    height: 420px;
    /* border:1px solid rgb(7, 11, 238); */
    margin-top: 10px;
    background-color:#DCDCDC;
    
}
.fragment .fragmentTitle {
    padding: 10px;
}

.fragment .fragmentText {
    position: absolute;
    text-align:justify;
    width : 500px;
    height: 370px;
    overflow : auto;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color:#DCDCDC;
    border: 1px solid rgb(255, 255, 255);
}
.btChart {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 10px;
}
.btn-Charts{
    width: 1250px;
    height:100px;
    margin-top: -6px;
    background-color:#DCDCDC;
    margin-bottom: -10px;
}

.btnContainer{
    width: 850px;
    height:100px;
    display: inline-block;
}


.v-line{
    border-left: thick solid rgb(255, 255, 255);
    margin-left: 10px;
}

.fragmentText::-webkit-scrollbar{
    width:7.21px;
}
.fragmentText::-webkit-scrollbar-track {
    
    background: #ffffff;
    border-radius: 4px;
    
}

.fragmentText::-webkit-scrollbar-thumb {
    
    height: 66px;
    background-color: #DCDCDC ;    
    border-radius: 2px;       
    border: 1px solid rgb(255, 255, 255);  
}


.linea {
    width: 1070.5px;
    height: 4px;
    background-color: #ffffff;
    margin: -84px auto 0px 60px;
    position: absolute;
}

.TimeChart rect.selection {
    stroke: none;
    fill: rgb(146, 146, 146);
    fill-opacity: 0.0;
    cursor:default;
}

.TimeChart .parent {
    pointer-events:none
}

/* Estilo para el marcador */

#range1 {
    position: absolute;
    top: 40px; /* ajusta la distancia vertical desde el slider-thumb */
    left: 51.5%; /* coloca el texto en el centro del slider */
    font-size: 0.9em; 
}
#range2 {
    position: absolute;
    top: 40px; /* ajusta la distancia vertical desde el slider-thumb */
    left: 92.5%; /* coloca el texto en el centro del slider */
    font-size: 0.9em; 
}

/*doble range*/

.wrapper{
    position: relative;
    width: 95vmin;
    background-color: #646464;
    padding: 50px 40px 20px 40px;
    border-radius: 10px;
}

input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
    padding-left: 13px;
    padding-right:31px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    cursor: pointer;
    margin-top: 50px;
    pointer-events: auto;
    border-radius: 0%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #050505 transparent;
}

.selected {
    opacity: 1;
    fill: rgb(255, 255, 255);
}
